{:deps  {;; JSON de/serializer
         cheshire          {:mvn/version "5.8.1"}
         ;; HTTP client
         clj-http          {:mvn/version "3.9.1"}
         ;; to provide endpoints
         compojure         {:mvn/version "1.6.1"}
         ;; webserver & webserver sensible defaults
         http-kit           {:mvn/version "2.3.0"}
         ring/ring-defaults {:mvn/version "0.3.2"}
         ring/ring-devel    {:mvn/version "1.7.1"}
         ;; convert between different key styles
         camel-snake-kebab {:mvn/version "0.4.0"}
         ;; scheduler to run jobs asynchronously
         org.immutant/scheduling {:mvn/version "2.1.10"}
         ;; simple HTML generator
         hiccup {:mvn/version "1.0.5"}
}
         :paths ["src/clojureserver"]
         :aliases {:depstar
              {:extra-deps
                 {seancorfield/depstar {:mvn/version "0.1.5"}}}}}
